{{!-- This should be recursive but that may cause issues with incorrect data --}}
<ul>
  {{#each @model.children as |child|}}
    <li>
      <AuCheckbox>{{child.label}}</AuCheckbox>
      <ul>
        {{#each child.children as |child|}}
          <li>
            <AuCheckbox>{{child.label}}</AuCheckbox>
            <ul>
              {{#each child.children as |child|}}
                <AuCheckbox>{{child.label}}</AuCheckbox>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
