{{page-title "Index"}}
<div
  id="main"
  itemprop="mainContentOfPage"
  role="main"
  tabindex="-1"
  class="au-c-main-container__content au-c-main-container__content--scroll"
>
  <section class="au-o-region-large au-o-layout au-o-grid au-o-grid--small">
    <div class="au-o-grid__item au-u-1-2">
      <AuCard as |c|><c.header>
          <AuHeading>Een toelating aanvragen</AuHeading>
          <p>Via dit loket kan je een toelating voor handelingen aanvragen.</p>
        </c.header>
        <c.content><AuLink
            @width="block"
            @skin="button"
            @route="citizen.search-erfgoed"
          >Start een nieuwe toelatingsaanvraag</AuLink></c.content></AuCard>
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuCard as |c|><c.header>
          <AuHeading>Vragen of problemen?</AuHeading>
        </c.header>
        <c.content><p><AuLink>Wanneer moet ik een toelating aanvragen?</AuLink><br
            />
            <AuLink>Wanneer moet ik een toelating aanvragen?</AuLink><br />
            <AuLink>Wat is het verschil tussen toelatingsplicht en
              meldingsplicht?</AuLink><br />
            <AuLink>Waarom zie ik voor sommige aanvragen geen beslissing?</AuLink><br
            /></p>
          <p>Een andere vraag of probleem? <AuLink>Contacteer ons</AuLink></p>
        </c.content></AuCard>

    </div>
    <div class="au-o-grid__item">
      <AuCard as |c|><c.header>
          <AuHeading>Overzicht toelatingsaanvragen</AuHeading>
        </c.header>
        <c.content>
          <div class="au-o-grid">
            <div class="au-o-grid__item au-u-1-2"><AuInput
                placeholder="Zoek een toelatingsaanvraag"
                @width="block"
                @icon="search"
              /></div>
            <div class="au-o-grid__item">
              <RequestsTable @requests={{@model}} />
            </div>
          </div>

        </c.content></AuCard>

    </div>
  </section>
</div>