<NewRequestStep
  @currentStep={{4}}
  @title="Persoonlijke informatie"
  @description="Controleer uw persoonlijke gegevens:"
  @prevStepLink="citizen.specific-admission-duties"
  @nextStepLink="citizen.details-operation"
>
  <div class="au-o-grid au-o-grid--small">
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>Voornaam</AuLabel>
      <AuInput @width="block" />
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>Familienaam</AuLabel>
      <AuInput @width="block" />
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>Mailadres</AuLabel>
      <AuInput @width="block" />
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>Telefoonnummer</AuLabel>
      <AuInput @width="block" />
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>Rijksregisternummer</AuLabel>
      <AuInput @width="block" />
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>Mailadres</AuLabel>
      <AuInput @width="block" />
    </div>
  </div>
  <AuCheckbox>
    Ik doe de aanvraag voor een bedrijf of organisatie.
  </AuCheckbox>
  <div class="au-o-grid au-o-grid--small">
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>Naam van de organisatie</AuLabel>
      <AuInput @width="block" />
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>KBO nummer</AuLabel>
      <AuInput @width="block" />
    </div>
    <div class="au-o-grid__item au-u-1-2">
      <AuLabel>Functie in de organisatie</AuLabel>
      <AuInput @width="block" />
    </div>
  </div>
</NewRequestStep>