{{page-title "HackathonTeam4FrontendPermits"}}

<AuApp>
  <AuMainHeader
    
    @homeRoute="index"
    @appTitle="Toelatingsaanvragen beschermd onroerend erfgoed"
  >
    <li class="au-c-list-horizontal__item">
      <AuLinkExternal
        href="https://abb-vlaanderen.gitbook.io/informatie-lpdc/"
        @icon="question-circle"
        @skin="secondary"
      >
        Help
      </AuLinkExternal>
    </li>
    <li class="au-c-list-horizontal__item">
      <AuButton @isCompact={{true}} />
    </li>
  </AuMainHeader>

  <AuMainContainer as |main|>
    <main.content>
      <AuBodyContainer @scroll={{true}} id="content">
        {{outlet}}
      </AuBodyContainer>
    </main.content>
  </AuMainContainer>
</AuApp>