{{page-title "Index"}}
<div
  id="main"
  itemprop="mainContentOfPage"
  role="main"
  tabindex="-1"
  class="au-c-main-container__content au-c-main-container__content--scroll"
>
  <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
    <img
      sizes="50vw"
      src="/assets/images/inzendingen-header-1600.jpg"
      srcset="/assets/images/inzendingen-header-320.jpg 320w, /assets/images/inzendingen-header-1024.jpg 1024w, /assets/images/inzendingen-header-1600.jpg 1600w"
      alt=""
    />
  </AuContentHeader>
  <section class="au-o-region-large">
    <div class="au-o-layout au-o-layout--large">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-1-3">
          <AuCard as |c|><c.header>
              <AuHeading>Burger</AuHeading>
            </c.header>
            <c.content><AuLink
                @skin="button"
                @width="block"
                @route="citizen"
              >Ga verder als burger</AuLink></c.content></AuCard>
        </div>
        <div class="au-o-grid__item au-u-1-3">
          <AuCard as |c|><c.header>
              <AuHeading>Gemeente</AuHeading>
            </c.header>
            <c.content><AuLink
                @skin="button"
                @width="block"
                @route="municipality"
              >Ga verder als gemeenteraadslid</AuLink></c.content></AuCard>
        </div>
        <div class="au-o-grid__item au-u-1-3">
          <AuCard as |c|><c.header>
              <AuHeading>Erfgoed</AuHeading>
            </c.header>
            <c.content><AuLink
                @skin="button"
                @width="block"
                @route="heritage"
              >Ga verder als erfgoed beheerder</AuLink></c.content></AuCard>
        </div>
      </div>
    </div>
  </section>
</div>
<AuMainFooter>
  <AuHeading @level="3" @skin="4">
    Dit is nog niet een officiële website van de Vlaamse overheid
  </AuHeading>
  <AuContent @skin="small">
    <p>Uitgegeven door
      <AuLinkExternal
        href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur"
      >Agentschap Binnenlands Bestuur</AuLinkExternal></p>
    <ul class="au-c-list-horizontal">
      {{! <li class="au-c-list-horizontal__item">
          <AuLink @route="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @route="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @route="legaal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink> }}
      {{! </li> }}
    </ul>
  </AuContent>
</AuMainFooter>